<mat-sidenav-container class = "container">
  <mat-sidenav mode = "side" opened class="side">
        <h2 class="h2">Lorem<br>Ipsum</h2>
        <p class="strike">About</p>
        <br>
        <p>Services</p>
        <br>
        <p>Cuisine</p>
        <br>
        <p>Gallery</p>
        <br>
        <p>Contact</p>
        <br>
        <p>book</p>
        <button class="cart">cart</button>
  </mat-sidenav>
  <mat-sidenav-content class="main">
      <div class="para_container">
          <p class="para">
              Lorem ipsum dolor sit amet,
              consectetur adipisicing elit,
          <br>
              sed do eiusmod tempor<br>
              incididunt ut labore et.
          </p>
          <hr>
      </div>
      <p class="heading1">What are you <br><br><br>
          <br>having for lunch?</p>
          <br><br><br>

          <!-- <div class="row"> -->
              <!-- <div class="column"> -->
                  <mat-card class="card">
                      <img class="img" [src]="tacos">
                      <br><br>
                      <b class="card_text">
                          Mexican Taco
                      </b>
                  </mat-card>
              <!-- </div>
              <div class="column"> -->
                  <mat-card class="card">
                      <img class="img" [src]="pizza">
                      <br><br>
                      <b class="card_text">
                          Farmhouse Pizza
                      </b>
                  </mat-card>
              <!-- </div>
              <div class="column"> -->
                  <mat-card class="card">
                      <img class="img" [src]="burger">
                      <br><br>
                      <b class="card_text">
                          Chicken Burger
                      </b>
                  </mat-card>
              <!-- </div>
              <div class="column"> -->
                  <mat-card class="card">
                      <img class="img" [src]="nachos">
                      <br><br>
                      <b class="card_text">
                          Loaded Nachos
                      </b>
                  </mat-card>
              <!-- </div>
              <div class="column"> -->
                  <mat-card class="card">
                      <img class="img" [src]="noodles">
                      <br><br>
                      <b class="card_text">
                          Hakka Noodles
                      </b>
                  </mat-card>
              <!-- </div>
              </div> -->
          
  </mat-sidenav-content>
</mat-sidenav-container>
